<!DOCTYPE html>
<html lang="en">
<head>
    <title>Francina Portfolio</title>
    {% include 'bootstrap.html' %}
</head>
<body>
    <div class="container">
        <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
          <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
            <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
          </a>
    
          <ul class="nav nav-pills">
            <li class="nav-item"><a href="#" class="nav-link">ABOUT</a></li>
            <li class="nav-item"><a href="#" class="nav-link">WORK</a></li>
            <li class="nav-item"><a href="#" class="nav-link">SKILLS</a></li>
            <li class="nav-item"><a href="#" class="nav-link">RESUME</a></li>
          </ul>
        </header>

        <div>
            <div class="row mt-5">
                <h2 class="mt-5">Hi!</h2> <br>
                <h2>I'm <span>Francina Dippitón!<span></h2> <br>
                <h2>Software developer.</h2>
            </div>

            <div class="row d-flex justify-content-end">
              <div class="profile-img-container">
                <img class="profile-row" id="img-profile"  src="../static/francina_profile.jpg" alt="">
              </div>
            </div>

            <div class="row work">
              <h5>WORK</h5>
              <p>I'm an aspiring full-stack developer and Computer Systems Engineer. I'm passionate about tech and that's why I constantly seek to gain knowledge, improve and develop my skills as  programmer. I also enjoy to be in nature and learn Norwegian.</p>
            </div>
        </div>

    </div>
</body>
</html>