<!DOCTYPE html>
<html lang="en">
<head>
    <title>Skills</title>
    {% include 'bootstrap.html' %}
</head>
<body>
    <div class="container">
        {% include 'header.html' %}

        <div class="row section-style mb-5" id="skills">
            <h5 class="mb-5 mt-4">Skills</h5>

            <div class="row">
                <div class="col"><img src="/static/assets/html-icon.svg" alt="" class="skill"></div>
                <div class="col"><img src="/static/assets/css-icon.svg" alt="" class="skill"></div>
                <div class="col"><img src="/static/assets/bootstrap-5-logo-icon.svg" alt="" class="skill"></div>
                <div class="col"><img src="/static/assets/github-icon.svg" alt="" class="skill"></div>
                <div class="col"><img src="/static/assets/git-icon.svg" alt="" class="skill"></div>
                <div class="col"><img src="/static/assets/python-programming-language-icon.svg" alt="" class="skill"></div>
                <div class="col"><img src="/static/assets/javascript-programming-language-icon.svg" alt="" class="skill"></div>
                <div class="col"><img src="/static/assets/flask-logo-icon.svg" alt="" class="skill"></div>
                <div class="col"><img src="/static/assets/mysql-icon.svg" alt="" class="skill"></div>
                <div class="col"><img src="/static/assets/oracle-icon.svg" alt="" class="skill"></div>
                <div class="col"><img src="/static/assets/sql-server-icon.svg" alt="" class="skill"></div>
            </div>
        </div>
    </div>
</body>
</html>