<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Skills</title>
    {% include 'bootstrap.html' %}
  </head>
  <body>
    <div class="container">
      {% include 'header.html' %}

      <div class="row section-style mb-5" id="skills">
        <!-- Skills Title -->
        <h5 class="mb-5 mt-4">SKILLS</h5>

        <!-- ------------------------------- Skills -------------------------------- -->
        <div class="col skill-container">
          <div class="moving-skill">
            <h6 class="skill-title mt-3 text-center">
              HTML | CSS | Bootstrap | Github | Git | Python | JavaScript |
              Flask | MYSQL | Oracle | SQLServer
            </h6>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
