<!DOCTYPE html>
<html lang="en">
<head>
    <title>Work</title>
    {% include 'bootstrap.html' %}
</head>
<body>
    <div class="container">
        {% include 'header.html' %}
        <!-- ----------------------------------------------------------------------- -->
        <!--                              Work Section                               -->
        <!-- ----------------------------------------------------------------------- -->
        <div class="row section-style mb-5" id="work">
            <h5 class="mb-4 mt-4">WORK</h5>
        
            <div class="row row-cols-1 row-cols-md-3 g-4 ">
                <div class="col-6">
                <div class="card">
                    <div class="card-body" style="background-color: #FAB338; height: 250px;"></div>
                    <div class="card-body">
                    <h6 class="card-title"> <b>Project name</b></h6>
                    <p class="card-text">HTML, CSS, JavaScript, React.</p>
                    </div>
                </div>
                </div>
        
                <div class="col-6">
                <div class="card">
                    <div class="card-body" style="background-color: #D2C6F0; height: 250px;"></div>
                    <div class="card-body">
                    <h6 class="card-title"><b>Project name</b></h6>
                    <p class="card-text">HTML, CSS, JavaScript, React.</p>
                    </div>
                </div>
                </div>
        
                <div class="col-6">
                <div class="card">
                    <div class="card-body" style="background-color: #FAB338; height: 250px;"></div>
                    <div class="card-body">
                    <h6 class="card-title"><b>Project name</b></h6>
                    <p class="card-text">HTML, CSS, JavaScript, React.</p>
                    </div>
                </div>
                </div>
            </div>
            
        </div>
    </div>
</body>
</html>

